.listing-container {
    background-color: #1b2129;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 200px;
    height: 300px;
    cursor: pointer;
}

.listing-container:hover,
.listing-container:focus,
.listing-container:active {
    background-color: #272c34;
    color: #0ea5e9;
    border-color: #0ea5e9;
}

.listing-container h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.listing-container p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
}

.listing-container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.listing-title {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(90deg, #0e9de5 -1.37%, rgba(14, 157, 229, 0)), #26db8d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.listing-price {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #fff;
}

.listing-buy-button {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.listing-page-h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.listing-container-large {
    background-color: #1b2129;
    margin: 0 auto;
    padding: 4rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 80%;
    height: 80%;
}

.listing-container-large h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.listing-container-large p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
}

.listing-container-large img {
    display: block;
    margin: auto;
    width: 40%;
    height: auto;
    object-fit: contain;
    border: 1px solid #fff;
}

.listing-title-large {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.listing-price-large {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
}

.listing-buy-button-large {
    display: block;
    margin: 1rem auto auto;
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 40%;
}

.listing-details {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ccc;
    padding-top: 20px;
}

.listing-details th,
.listing-details td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.listing-details th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

.listings-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
